profiles {
    standard {
        conda.enabled = true
        //path = "/home/miniconda3/bin"
        dag.enable = true
        conda.cacheDir = "./condaEnvs"

        process {
            scratch = "storage/nf_tmp"
            maxCpus = 20
            maxMemory = "100 GB"
            maxForks = 10
            //cleanup = false

            withName: miminap {
                conda = "$projectDir/envs/miminap/enviornment.yaml"
                cpus = 25
            }
        }
    }
}
